@media (max-width: 767px) {
    .cards {

        /*grid-template-columns: repeat(1, 1fr);

        &__card:nth-last-child(-n+3) {
            display: none;
        }*/

        &__details {
            min-height: 21.8rem;

            padding: 1.5rem;
        }
        
    }
}