@media (max-width: 767px) {
    .main__inner {
        padding: 0;
    }

    .course-description {
        padding-top: 0;

        &__title {
            font-size: 3rem;
            line-height: 4rem;
        }
    }

    .technologies {

        padding-bottom: 3rem;

        &__title {
            padding-top: 3rem;
        }
    }

    .container {
        padding: 0;
    }

    .course {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    
}