@font-face {
  font-family: "Solomon Sans";
  src: local("../../Assets/Fonts/"), local("Solomon-sans"), url("../../Assets/Fonts/solomon_sans_normal.woff") format("woff"), url("../../Assets/Fonts/solomon_sans_normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Solomon Sans";
  src: local("../../Assets/Fonts/"), local("Solomon-sans"), url("../../Assets/Fonts/solomon_sans_semibold.woff") format("woff"), url("../../Assets/Fonts/solomon_sans_semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Solomon Sans";
  src: local("../../Assets/Fonts/"), local("Solomon-sans"), url("../../Assets/Fonts/solomon_sans_bold.woff") format("woff"), url("../../Assets/Fonts/solomon_sans_bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: content-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Solomon Sans";
  font-weight: 400;
  color: black;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1380px;
  padding: 0 2rem;
  margin: 0 auto;
}

strong {
  font-weight: 700;
}

.header {
  background-image: url("../../Assets/Content/Background/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
  color: white;
}

.header-head {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(30px);
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.header-head__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-head__left, .header-head__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-head__city-list {
  display: flex;
  align-items: center;
}
.header-head__city-item {
  position: relative;
  padding: 0 1.2rem;
}
.header-head__city-item:after {
  content: "|";
  position: absolute;
  right: -0.1rem;
  color: rgba(255, 255, 255, 0.2);
}
.header-head__city-item:last-child:after {
  content: "";
}
.header-head__city-item:first-child {
  padding: 0;
}
.header-head__city-link, .header-head__telephone {
  color: white;
}
.header-head__telephone {
  margin-right: 2.2rem;
}

.status {
  line-height: 0;
}

.language-switch__list {
  display: flex;
}
.language-switch__item {
  padding: 0.35rem 1rem;
}
.language-switch__item:last-child {
  padding: 0.35rem 0 0.35rem 1rem;
}
.language-switch__item--active {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 0.6rem;
}
.language-switch__link {
  color: white;
}

.navigation-logo {
  padding-top: 1.7708333333%;
}
.navigation-logo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  font-size: 2rem;
  line-height: 2.4rem;
}
.navigation__list {
  display: flex;
}
.navigation__item {
  position: relative;
  padding: 0 1.5rem;
}
.navigation__item:last-child {
  padding: 0;
}
.navigation__item:first-child {
  padding: 0 3rem;
}
.navigation__item:first-child::after {
  content: url("../../Assets/Images/Icons/ButtonArrow-w.svg");
  position: absolute;
  right: 1.4rem;
  top: 0.3rem;
}
.navigation__item:hover .navigation__courses-list {
  display: block;
}
.navigation__link {
  color: white;
}
.navigation__courses-list {
  display: none;
  padding: 1rem;
  position: absolute;
  top: 4rem;
  background-color: white;
  border-radius: 1rem;
}
.navigation__courses-item {
  min-width: max-content;
  padding: 0.5rem 0;
}
.navigation__courses-link {
  font-weight: 600;
  color: #001370;
}

.course__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 6rem;
}
.course__header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 242px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
.course__logo {
  width: 64px;
  height: 64px;
  background: linear-gradient(225deg, #FFD028 0%, #F8522D 100%);
  border-radius: 100px;
}
.course__title {
  padding-top: 1.5rem;
  font-size: 5rem;
  line-height: 6rem;
  text-align: center;
}
.course__difficulty {
  padding-top: 1.5rem;
  color: #fed52f;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.course__rating {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
}
.course__rating-stars {
  color: #1e3b6b;
  padding: 0.6rem 0.9rem;
  margin-right: 0.8rem;
  background-color: #fed52f;
  border-radius: 3rem;
}
.course__rating-stars::before {
  content: url("../../Assets/Images/Rating/Small.svg");
}
.course__rating-votes {
  color: #fed52f;
}
.course__footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 6rem;
  max-width: 54rem;
}
.course__lessons-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.course__course-availability {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.course__lessons, .course__lessons-frequency, .course__start {
  position: relative;
}
.course__lessons::before {
  position: absolute;
  left: -3rem;
  content: url("../../Assets/Images/CourseStats/Length.svg");
}
.course__lessons-frequency::before {
  position: absolute;
  left: -3rem;
  content: url("../../Assets/Images/CourseStats/Duration.svg");
}
.course__start::before {
  position: absolute;
  left: -3rem;
  content: url("../../Assets/Images/CourseStats/Start.svg");
}
.course__people-per-week, .course__free-spaces {
  color: #4fd501;
}
.course__free-consultation {
  align-self: center;
  padding: 1rem 2.5rem;
  margin-top: 3rem;
  margin-bottom: 23.6rem;
  background-color: #4fd501;
  border: 0;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
}
.course__free-consultation:hover {
  cursor: pointer;
  background-color: #3ca201;
}

/*# sourceMappingURL=style.css.map */
