@font-face {
  font-family: "Solomon Sans";
  src: local("../../Assets/Fonts/"), local("Solomon-sans"), url("../../Assets/Fonts/solomon_sans_normal.woff") format("woff"), url("../../Assets/Fonts/solomon_sans_normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Solomon Sans";
  src: local("../../Assets/Fonts/"), local("Solomon-sans"), url("../../Assets/Fonts/solomon_sans_semibold.woff") format("woff"), url("../../Assets/Fonts/solomon_sans_semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Solomon Sans";
  src: local("../../Assets/Fonts/"), local("Solomon-sans"), url("../../Assets/Fonts/solomon_sans_bold.woff") format("woff"), url("../../Assets/Fonts/solomon_sans_bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: content-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Solomon Sans";
  font-weight: 400;
  color: black;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1380px;
  padding: 0 2rem;
  margin: 0 auto;
}

strong {
  font-weight: 700;
}

.button {
  border: 0;
  color: white;
  background-color: #4fd501;
}

.button:hover {
  cursor: pointer;
  background-color: #3ca201;
}

.header {
  background-image: url("../../Assets/Content/Background/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.header-head-mobile {
  display: none;
}

.header-head {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(30px);
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.header-head__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-head__left, .header-head__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-head__city-list {
  display: flex;
  align-items: center;
}
.header-head__city-item {
  position: relative;
  padding: 0 1.2rem;
}
.header-head__city-item:after {
  content: "|";
  position: absolute;
  right: -0.1rem;
  color: rgba(255, 255, 255, 0.2);
}
.header-head__city-item:last-child:after {
  content: "";
}
.header-head__city-item:first-child {
  padding: 0;
}
.header-head__city-link, .header-head__telephone {
  color: white;
}
.header-head__telephone {
  margin-right: 2.2rem;
}

.status {
  line-height: 0;
}

.language-switch__list {
  display: flex;
}
.language-switch__item {
  padding: 0.35rem 1rem;
}
.language-switch__item:last-child {
  padding: 0.35rem 0 0.35rem 1rem;
}
.language-switch__item--active {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 0.6rem;
}
.language-switch__link {
  color: white;
}

.navigation-logo {
  padding-top: 1.7708333333%;
}
.navigation-logo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  font-size: 2rem;
  line-height: 2.4rem;
}
.navigation__list {
  display: flex;
}
.navigation__item:nth-last-child(3) {
  display: none;
}
.navigation__item {
  position: relative;
  padding: 0 1.5rem;
}
.navigation__item:last-child {
  padding: 0;
}
.navigation__item:first-child {
  padding: 0 3rem;
}
.navigation__item:first-child::after {
  content: url("../../Assets/Images/Icons/ButtonArrow-w.svg");
  position: absolute;
  right: 1.4rem;
  top: 0.3rem;
}
.navigation__item:hover .navigation__courses-list {
  display: block;
}
.navigation__link {
  color: white;
}
.navigation__courses-list {
  display: none;
  padding: 1rem;
  position: absolute;
  top: 4rem;
  background-color: white;
  border-radius: 1rem;
}
.navigation__courses-item {
  min-width: max-content;
  padding: 0.5rem 0;
}
.navigation__courses-link {
  font-weight: 600;
  color: #001370;
}

.course {
  padding-top: 2.2395833333%;
  padding-bottom: 12.2916666667%;
}
.course__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 6rem;
}
.course__header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 242px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
.course__logo {
  width: 64px;
  height: 64px;
  background: linear-gradient(225deg, #FFD028 0%, #F8522D 100%);
  border-radius: 100px;
}
.course__title {
  padding-top: 1.5rem;
  font-size: 5rem;
  line-height: 6rem;
  text-align: center;
}
.course__difficulty {
  padding-top: 1.5rem;
  color: #fed52f;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.course__rating {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
}
.course__rating-stars {
  color: #1e3b6b;
  padding: 0.6rem 0.9rem;
  margin-right: 0.8rem;
  background-color: #fed52f;
  border-radius: 3rem;
}
.course__rating-stars::before {
  content: url("../../Assets/Images/Rating/Small.svg");
}
.course__rating-votes {
  color: #fed52f;
}
.course__footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 6rem;
  max-width: 54rem;
}
.course__lessons-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.course__course-availability {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.course__lessons, .course__lessons-frequency, .course__start {
  position: relative;
  margin-left: 3rem;
}
.course__lessons::before {
  position: absolute;
  left: -3rem;
  content: url("../../Assets/Images/CourseStats/Length.svg");
}
.course__lessons-frequency::before {
  position: absolute;
  left: -3rem;
  content: url("../../Assets/Images/CourseStats/Duration.svg");
}
.course__start::before {
  position: absolute;
  left: -3rem;
  content: url("../../Assets/Images/CourseStats/Start.svg");
}
.course__spaces {
  position: relative;
}
.course__spaces::before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  left: -3.1rem;
  top: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.course__people-per-week, .course__free-spaces {
  color: #4fd501;
}
.course__free-consultation {
  align-self: center;
  padding: 1rem 2.5rem;
  margin-top: 3rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.main__inner {
  max-width: 910px;
}

.course-description {
  font-size: 1.8rem;
  line-height: 2.8rem;
  padding: 3rem;
}
.course-description__title {
  padding-top: 6rem;
  font-size: 5rem;
  line-height: 5.4rem;
}
.course-description__about-course {
  padding-top: 3rem;
}
.course-description__purpose, .course-description__it-helps {
  color: #001370;
}

.test {
  padding: 3rem;
  background-color: #f0fee1;
  border-radius: 1.2rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.test__button {
  margin-top: 2rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  padding: 1rem 2.5rem;
}

.container .technologies {
  max-width: 910px;
  margin: 0 auto;
}

.technologies {
  padding-bottom: 6rem;
}
.technologies__title {
  padding-top: 6rem;
  color: #8e959f;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.technologies__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.technologies__logo.Bootstrap {
  background-image: url("../../Assets/Content/Technologies/x1/Bootstrap.png");
  background-size: 6.4rem 6.4rem;
  height: 6.4rem;
  width: 6.4rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .technologies__logo.Bootstrap {
    background-image: url("../../Assets/Content/Technologies/x2/Bootstrap.png");
  }
}
.technologies__logo.CSS {
  background-image: url("../../Assets/Content/Technologies/x1/CSS.png");
  background-size: 6.4rem 6.4rem;
  height: 6.4rem;
  width: 6.4rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .technologies__logo.CSS {
    background-image: url("../../Assets/Content/Technologies/x2/CSS.png");
  }
}
.technologies__logo.DOM {
  background-image: url("../../Assets/Content/Technologies/x1/DOM.png");
  background-size: 6.4rem 6.4rem;
  height: 6.4rem;
  width: 6.4rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .technologies__logo.DOM {
    background-image: url("../../Assets/Content/Technologies/x2/DOM.png");
  }
}
.technologies__logo.ES6 {
  background-image: url("../../Assets/Content/Technologies/x1/ES6.png");
  background-size: 6.4rem 6.4rem;
  height: 6.4rem;
  width: 6.4rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .technologies__logo.ES6 {
    background-image: url("../../Assets/Content/Technologies/x2/ES6.png");
  }
}
.technologies__logo.Git {
  background-image: url("../../Assets/Content/Technologies/x1/Git.png");
  background-size: 6.4rem 6.4rem;
  height: 6.4rem;
  width: 6.4rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .technologies__logo.Git {
    background-image: url("../../Assets/Content/Technologies/x2/Git.png");
  }
}
.technologies__logo.HTML5 {
  background-image: url("../../Assets/Content/Technologies/x1/HTML5.png");
  background-size: 6.4rem 6.4rem;
  height: 6.4rem;
  width: 6.4rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .technologies__logo.HTML5 {
    background-image: url("../../Assets/Content/Technologies/x2/HTML5.png");
  }
}
.technologies__logo.Idea {
  background-image: url("../../Assets/Content/Technologies/x1/Idea.png");
  background-size: 6.4rem 6.4rem;
  height: 6.4rem;
  width: 6.4rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .technologies__logo.Idea {
    background-image: url("../../Assets/Content/Technologies/x2/Idea.png");
  }
}
.technologies__logo.Java {
  background-image: url("../../Assets/Content/Technologies/x1/Java.png");
  background-size: 6.4rem 6.4rem;
  height: 6.4rem;
  width: 6.4rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .technologies__logo.Java {
    background-image: url("../../Assets/Content/Technologies/x2/Java.png");
  }
}
.technologies__logo.JMeter {
  background-image: url("../../Assets/Content/Technologies/x1/JMeter.png");
  background-size: 6.4rem 6.4rem;
  height: 6.4rem;
  width: 6.4rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .technologies__logo.JMeter {
    background-image: url("../../Assets/Content/Technologies/x2/JMeter.png");
  }
}
.technologies__logo.Json {
  background-image: url("../../Assets/Content/Technologies/x1/Json.png");
  background-size: 6.4rem 6.4rem;
  height: 6.4rem;
  width: 6.4rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .technologies__logo.Json {
    background-image: url("../../Assets/Content/Technologies/x2/Json.png");
  }
}
.technologies__logo.Linux {
  background-image: url("../../Assets/Content/Technologies/x1/Linux.png");
  background-size: 6.4rem 6.4rem;
  height: 6.4rem;
  width: 6.4rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .technologies__logo.Linux {
    background-image: url("../../Assets/Content/Technologies/x2/Linux.png");
  }
}
.technologies__logo.Maven {
  background-image: url("../../Assets/Content/Technologies/x1/Maven.png");
  background-size: 6.4rem 6.4rem;
  height: 6.4rem;
  width: 6.4rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .technologies__logo.Maven {
    background-image: url("../../Assets/Content/Technologies/x2/Maven.png");
  }
}
.technologies__logo.Postman {
  background-image: url("../../Assets/Content/Technologies/x1/Postman.png");
  background-size: 6.4rem 6.4rem;
  height: 6.4rem;
  width: 6.4rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .technologies__logo.Postman {
    background-image: url("../../Assets/Content/Technologies/x2/Postman.png");
  }
}
.technologies__logo.Rest {
  background-image: url("../../Assets/Content/Technologies/x1/Rest.png");
  background-size: 6.4rem 6.4rem;
  height: 6.4rem;
  width: 6.4rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .technologies__logo.Rest {
    background-image: url("../../Assets/Content/Technologies/x2/Rest.png");
  }
}
.technologies__logo.SASS {
  background-image: url("../../Assets/Content/Technologies/x1/SASS.png");
  background-size: 6.4rem 6.4rem;
  height: 6.4rem;
  width: 6.4rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .technologies__logo.SASS {
    background-image: url("../../Assets/Content/Technologies/x2/SASS.png");
  }
}
.technologies__logo.SoapUI {
  background-image: url("../../Assets/Content/Technologies/x1/SoapUI.png");
  background-size: 6.4rem 6.4rem;
  height: 6.4rem;
  width: 6.4rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .technologies__logo.SoapUI {
    background-image: url("../../Assets/Content/Technologies/x2/SoapUI.png");
  }
}
.technologies__logo.SVG {
  background-image: url("../../Assets/Content/Technologies/x1/SVG.png");
  background-size: 6.4rem 6.4rem;
  height: 6.4rem;
  width: 6.4rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .technologies__logo.SVG {
    background-image: url("../../Assets/Content/Technologies/x2/SVG.png");
  }
}
.technologies__logo.Typescript {
  background-image: url("../../Assets/Content/Technologies/x1/Typescript.png");
  background-size: 6.4rem 6.4rem;
  height: 6.4rem;
  width: 6.4rem;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .technologies__logo.Typescript {
    background-image: url("../../Assets/Content/Technologies/x2/Typescript.png");
  }
}
.technologies__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.footer {
  background-color: #fafafa;
}

.teachers {
  padding-top: 6rem;
}
.teachers__header {
  padding-left: 3rem;
}
.teachers__title {
  font-size: 3rem;
  line-height: 3.6rem;
  color: #8e959f;
}
.teachers__briefly {
  padding-top: 1rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.teachers__cards {
  padding-top: 3rem;
  display: flex;
}
.teachers__card {
  position: relative;
  max-width: 32.3rem;
  margin: 0 1.5rem;
}
.teachers__expand {
  width: 2.4rem;
  height: 2.4rem;
  top: 2rem;
  right: 2rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.teachers__expand::after {
  content: ">";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
}
.teachers__photo {
  width: 32.3rem;
  height: 20rem;
}
.teachers__details {
  padding: 3rem;
}
.teachers__full-name {
  font-size: 2.4rem;
  line-height: 3rem;
  max-width: 22.2rem;
}
.teachers__position {
  padding-top: 1rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  max-width: 22.2rem;
}
.teachers__company {
  padding-top: 2.4rem;
}

@media (max-width: 1919px) {
  .main__inner {
    max-width: 800px;
  }
}
@media (max-width: 1279px) {
  .main__inner {
    max-width: 630px;
  }
}
@media (max-width: 1023px) {
  .navigation__item:nth-last-child(-n+2) {
    display: none;
  }
  .navigation__item:nth-last-child(3) {
    display: inline;
    padding-right: 0;
  }
  .navigation__button {
    border-radius: 0.8rem;
    padding: 0.7rem 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
  }
}
@media (max-width: 1023px) {
  .main__inner {
    max-width: unset;
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .navigation-logo,
.header-head {
    display: none;
  }

  .header-head-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(20px);
    padding: 1rem;
  }

  .course {
    padding-top: 16%;
  }
  .course__header {
    padding-bottom: 3rem;
  }
  .course__title {
    font-size: 3rem;
    line-height: 4rem;
  }
  .course__footer {
    padding-top: 1.5rem;
  }
  .course__lessons-info {
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .course__lessons, .course__lessons-frequency, .course__start {
    padding-top: 1.5rem;
  }
  .course__course-availability {
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .course__popularity, .course__spaces {
    padding: 1rem 1rem 0 1rem;
  }
  .course__spaces:before {
    display: none;
  }
}
@media (max-width: 767px) {
  .main__inner {
    padding: 0;
  }

  .course-description {
    padding-top: 0;
  }
  .course-description__title {
    font-size: 3rem;
    line-height: 4rem;
  }

  .technologies {
    padding-bottom: 3rem;
  }
  .technologies__title {
    padding-top: 3rem;
  }

  .container {
    padding: 0;
  }

  .course {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
