* {
    box-sizing: content-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $main--font;
    font-weight: 400;
    color: hsla(0, 0%, 0%, 1);
}

a {
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1380px;

    padding: 0 2rem;
    margin: 0 auto;
}

strong {
    font-weight: 700;
}

.button {
    border: 0;

    color: $color--white;

    background-color: $color--green;
}

.button:hover {
    cursor: pointer;
    background-color: $color--green-hover;
}