$main--font: 'Solomon Sans';

$color--white: hsla(360, 100%, 100%, 1);
$color--black: hsla(0, 0%, 0%, 1);
$color--green: hsla(98, 99%, 42%, 1);
$color--green-hover: hsla(98, 99%, 32%, 1);
$color--navy: hsla(230, 100%, 22%, 1);
$color--diff-n-rait: hsla(48, 99%, 59%, 1);
$color--rait-font: hsla(218, 56%, 27%, 1);
$color--active-switch: hsla(360, 100%, 100%, 0.25);