.footer {
    background-color: hsla(0, 0%, 98%, 1);
}

.teachers {

    padding-top: 6rem;

    &__header {
        padding-left: 3rem;
    }

    &__title {
        font-size: 3rem;
        line-height: 3.6rem;
        color: hsla(215, 8%, 59%, 1);
    }

    &__briefly {
        padding-top: 1rem;

        font-size: 1.6rem;
        line-height: 2.6rem;
    }
    
}

.cards {

    padding-top: 3rem;

    /*display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;*/

    &__card {
        position: relative;

        margin: 1.5rem;

        display: flex;
        flex-direction: column;

        background-color: hsla(360, 100%, 100%, 1);

        min-height: 44.8rem;
    }

    &__card:focus {
        outline: none;
    }

    /*&__card:first-child {
        margin-left: 0;
    }

    &__card:last-child {
        margin-right: 0;
    }

    &__card:hover {
        box-shadow: 0 1.5rem 3rem hsla(218, 13%, 88%, 1);
    }*/

    &__expand {
        width: 2.4rem;
        height: 2.4rem;

        top: 2rem;
        right: 2rem;

        position: absolute;

        background-color: hsla(0, 0%, 0%, 0.3);
        border-radius: 50%;
    }

    &__expand:hover {
        cursor: pointer;
        background-color: hsla(0, 0%, 0%, 0.5);
    }

    &__expand::after {
        content: '>';

        position: absolute;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        color: $color--white;
        font-size: 2rem;
    }

    &__photo {
        width: 100%;
        min-height: 20rem;

        object-fit: cover;
    }

    @mixin generateClassForCoach($imageName) {
        &__photo.#{$imageName} {
            content: url('../../Assets/Content/Coaches/x1/#{$imageName}.jpg');
        }
    
        @media  (-webkit-min-device-pixel-ratio: 2), 
                (min-resolution: 192dpi)  {
            &__photo.#{$imageName}  {
                content: url('../../Assets/Content/Coaches/x2/#{$imageName}.jpg');
            }
         }
    }

    @include generateClassForCoach('Coach_1');
    @include generateClassForCoach('Coach_2');
    @include generateClassForCoach('Coach_3');
    @include generateClassForCoach('Coach_4');
    @include generateClassForCoach('Coach_5');
    @include generateClassForCoach('Coach_6');

    &__details {
        display: flex;
        flex-direction: column;

        min-height: 18.8rem;

        padding: 3rem;
    }

    &__full-name {
        font-size: 2.4rem;
        line-height: 3rem;

        max-width: 50%;
    }

    &__position {
        padding-top: 1rem;

        font-size: 1.6rem;
        line-height: 2.2rem;

        max-width: 22.2rem;
    }

    &__company {
        margin-top: auto;

        align-self: flex-start;
    }

}

/*.switcher {

    padding: 3rem 0;

    text-align: center;

    &__button {
        
        background-color: hsla(216, 10%, 90%, 1);

        width: 1.2rem;
        height: 1.2rem;

        border: 0;
        border-radius: 50%;

        padding: 0;

        margin-right: 1.5rem;

    }

    &__button:last-child {
        margin-right: 0;
    }

    &__button:hover {

        cursor: pointer;

        background-color: hsla(216, 18%, 72%, 1);
    }
}*/