.header {
    background-image: url('../../Assets/Content/Background/hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $color--white;
}

.header-head-mobile {
    display: none;
}

.header-head {
    background-color: hsla(0, 0%, 0%, 0.3);
    backdrop-filter: blur(30px);

    font-size: 1.2rem;
    line-height: 1.5rem;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left,
    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__city-list {
        display: flex;
        align-items: center;
    }

    &__city-item {
        position: relative;

        padding: 0 1.2rem;
    }

    &__city-item:after {
        content: '|';

        position: absolute;

        right: -0.1rem;
        
        color: hsla(360, 100%, 100%, 0.2);
    }

    &__city-item:last-child:after {
        content: '';
    }

    &__city-item:first-child {
        padding: 0;
    }

    &__city-link,
    &__telephone {
        color: $color--white;
    }

    &__telephone {
        margin-right: 2.2rem;
    }
}

.status {
    line-height: 0;
}

.language-switch {

    &__list {
        display: flex;
    }

    &__item {
        padding: 0.35rem 1rem;
    }

    &__item:last-child {
        padding: 0.35rem 0 0.35rem 1rem;
    }

    &__item {

        &--active {
            background-color: $color--active-switch;
            border-radius: 0.6rem;
        }
    }

    &__link {
        color: $color--white;
    }
}

.navigation-logo {
    padding-top: 3.4rem;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.navigation {

    font-size: 2rem;
    line-height: 2.4rem;
    
    &__list {
        display: flex;
        align-items: center;
    }

    &__item:nth-last-child(3) {
        display: none;
    }

    &__item {
        position: relative;

        padding: 0 1.5rem;
    }

    &__item:last-child {
        padding: 0;
    }

    &__item:first-child {
        padding: 0 3rem;
    }

    &__item:first-child::after {
        content: url('../../Assets/Images/Icons/ButtonArrow-w.svg');

        position: absolute;

        right: 1.4rem;
        top: 0.3rem;
    }

    &__item:hover &__courses-list {
        display: block;
    }

    &__link {
        color:$color--white;
    }

    &__courses-list {
        display: none;

        padding: 1rem;

        position: absolute;
        top: 4rem;

        background-color: $color--white;
        border-radius: 1rem;
    }

    &__courses-item {
        min-width: max-content;

        padding: 0.5rem 0;
    }

    &__courses-link {
        font-weight: 600;
        color:$color--navy;
    }
}

.course {

    padding-top: 2.23958333333333%;
    padding-bottom: 12.29166666666667%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;

        padding-bottom: 6rem;
    }

    &__header::after {
        content: '';

        position: absolute;
        bottom: 0;

        width: 242px;
        height: 1px;
        background-color: hsla(360 , 100%, 100%, 0.5);
    }

    &__logo {
        width: 64px;
        height: 64px;

        background: linear-gradient(225deg, #FFD028 0%, #F8522D 100%);
        border-radius: 100px;
    }

    &__title {
        padding-top: 1.5rem;

        font-size: 5rem;
        line-height: 6rem;
        text-align: center;
    }

    &__difficulty {
        padding-top: 1.5rem;

        color: $color--diff-n-rait;
        font-size: 1.4rem;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
    }

    &__rating {
        padding-top: 2rem;

        display: flex;
        align-items: center;

        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.7rem;
    }

    &__rating-stars {
        color: $color--rait-font;

        padding: 0.6rem 0.9rem;
        margin-right: 0.8rem;

        background-color: $color--diff-n-rait;
        border-radius: 3rem; 
    }

    &__rating-stars::before {
        content: url('../../Assets/Images/Rating/Small.svg');
    }

    &__rating-votes {
        color: $color--diff-n-rait;
    }

    &__footer {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;

        padding-top: 6rem;

        max-width: 54rem;
    }

    &__lessons-info {
        display: flex;
        justify-content: space-between;

        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    &__course-availability {
        display: flex;
        justify-content: space-evenly;

        padding-top: 2rem;

        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    &__lessons, 
    &__lessons-frequency,
    &__start {
        position: relative;
        margin-left: 3rem;
    }

    &__lessons::before {
        position: absolute;
        left: -3rem;

        content: url('../../Assets/Images/CourseStats/Length.svg');
    }

    &__lessons-frequency::before {
        position: absolute;
        left: -3rem;

        content: url('../../Assets/Images/CourseStats/Duration.svg');
    }

    &__start::before {
        position: absolute;
        left: -3rem;

        content: url('../../Assets/Images/CourseStats/Start.svg');
    }

    &__spaces {
        position: relative;
    }

    &__spaces::before {
        content: '';

        position: absolute;

        width: 0.8rem;
        height: 0.8rem;

        left: -3.1rem;
        top: 1rem;

        background-color: hsla(360, 100%, 100%, 0.3);

        border-radius: 50%;
    }

    &__people-per-week,
    &__free-spaces {
        color: $color--green;
    }

    &__free-consultation {
        align-self: center;

        padding: 1rem 2.5rem;
        margin-top: 3rem;

        border-radius: 1rem;

        font-size: 1.6rem;
        font-weight: 600;
        
    }

}

 